.post-list{
  li {
    a {
      display: block;
      padding: 24px 0;
    }
    a:hover {
      .title {
        text-decoration: underline;
      }
    }
  }
  li + li {
    border-top: 1px dotted #ddd;
  }
  .title {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.24;
    color: #354649;
  }
  .desc {
    margin-top: 12px;
    line-height: 1.26;
    color: #666;
  }
  .date {
    font-size: 14px;
    color: #666;
  }
}